/* Write your CSS here! */

/* Do not change the CSS below. */

.header {
    background: #4242ea;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-template-rows: 100px;
    grid-auto-rows: 100px;
    /* gap: 10px 5px; */
}

.logo img {
  height: 100px;
  /* margin: 15px 0 0 15px; */
  width: auto;
  padding-right: 200px;
  position: fixed;
}

.logo {
padding-right: 300px;
}

.menu ul {
  padding: 0;
  position: absolute;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
  position: absolute;
  width: 300px;
  height: 750px;
  display: grid;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
  display: grid;
  padding-left: 300px;
}

.main p{
  padding-top: 5px;
}

.footer {
  background: yellow;
  padding: 30px;
  text-align: center;
}
