/* Write your CSS here! */
#mainContainer {
  display: grid;
  /* height: 100%; */
  grid-template-areas: 
    "h h h h h h h h"
    "b b b b b b b b"
    "b b b b b b b b"
    "b b b b b b b b"
    "b b b b b b b b"
    "b b b b b b b b"
    "f f f f f f f f";
}

.header {
  grid-area: h;
  display: grid;
  grid-template-areas:
    "logo menu menu menu menu menu" ;
}

.logo {
  grid-area: logo;
}

.menu {
  grid-area: menu;
}

.primary-content {
  grid-area: b;
  display: grid;
  grid-template-areas: 
    "l r r r r r r";
}
.sidebar {
  grid-area: l;
}

.main {
  grid-area: r;
}

.footer {
  grid-area: f;
}

/* Do not change the CSS below. */

.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
