/* Write your CSS here! */

/* Do not change the CSS below. */

.header {
  background: #4242ea;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}
.primary-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
  display: grid;
  grid-area: 2/1/1/2;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
