/* Write your CSS here! */
.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.sidebar {
  display: grid;
  height: 750px;
  width: 25%;
  float:left;
}
.main {
  display: grid;
  float:right;
  width: 75%;
}
.footer {
  display: grid;
}

/* Do not change the CSS below. */

.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
