/* Write your CSS here! */
body {
  display: grid;
  grid-template-rows: 10fr 85fr 6fr;
  /* grid-auto-rows: minmax(33%, auto); */

  /* hardcoded height that ended up creating a white space */
  /* grid-template-rows: 10fr 130fr 5fr; */

  grid-template-columns: 20% 80%;

  /* viewport height */
  height: 100vh;
}

/* PURSUIT LOGO & URLS */
.header {
  display: grid;
  grid-template-rows: 100%;
  /* width of the column */
  grid-template-columns: 20% 80%;
  grid-column: 1 / span 2;
}

/* FOOTER */
.footer {
  grid-row: 3;
  grid-column: 1 / span 2;
}

/* Do not change the CSS below. */

.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  /* height: 750px; */
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}