/* Write your CSS here! */

/* Do not change the CSS below. */

.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;

}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}

body {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  
}

.sidebar {
  grid-column: span 1;
}

.main {
  grid-column: span 3;
}

.header {
  grid-column: span 4;
}

.footer {
  grid-column: span 4;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
 
}

.menu a {
  display: inline-block;
  padding: 15px;
  grid-column:3/4;
}
