/* Write your CSS here! */
*{
  box-sizing: border-box;
  margin: 0px;
}

ul {
  padding-top: 40px;
  margin-top: 10px;
}

.header {
  display: grid;
  grid-template-columns: 30% auto;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.primary-content {
  display: grid;
  grid-template-columns: 30% auto;
}

.footer {
  padding-top: 200px;
}

.sidebar {
  padding-top: 10px;
}

.main {
  padding-top: 10px;
}

/* Do not change the CSS below. */

.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
