/* Write your CSS here! */

/* Do not change the CSS below. */

.header {
  background: #4242ea;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr ;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}

/* .body {
  display:grid;
} */

.primary-content {
  display:grid;
  grid-template-columns: 1fr 3fr ;
}
.sidebar {
 grid-column: span 1;
 grid-row: span 1;
}