/* Write your CSS here! */
.header {
  display: grid;
  /* justify-content: left; */
}

.menu {
  grid-row: 1;
  grid-column: 2 / span 2;
}

.primary-content {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.main {
  display: grid;
  /* grid-column: 2 / span 3; */
}

/* Do not change the CSS below. */

.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
