/* Write your CSS here! */
 /* .header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.sidebar{
 columns: 1; 
}  */

body{
  display: grid;
}
.header{
  display:grid;
  grid-template-columns: repeat(3,1fr);
 grid-column: 1/4;
}
.sidebar{ 
  grid-column: 1/1;
}
.main{
  grid-column:2/4 ;
}
.footer{
  grid-column: 1/4;
}

/* .header{
  grid-area: header;
  grid-template-areas: ;
}
.logo{
  grid-area: logo;
}
.menu{
  grid-area: menu;
} */
/* Do not change the CSS below. */

.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
