/* Write your CSS here! */
body {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  grid-template-areas: 
    " header header header header"
    "content content content content"
    "footer footer footer footer";
  height: 100vh;
  
}

.primary-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
/* Do not change the CSS below. */

.header {
  background: #4242ea;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
  
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
  
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
  height: 100vh;
  
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
  grid-area: footer;

}
