/* Write your CSS here! */
body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main {
	grid-column: span 3;
}

.footer,
.header {
	grid-column: span 4;
}

/* Do not change the CSS below. */

.header {
	background: #4242ea;
}

.logo img {
	height: 50px;
	margin: 15px 0 0 15px;
	width: auto;
}

.menu ul {
	padding: 0 2%;
}

.menu ul li {
	display: inline-block;
	padding: 15px;
}

.menu a {
	color: white;
	text-decoration: none;
}

.sidebar {
	background: #2d2d2d;
	color: white;
	text-align: center;
}

.main {
	background: #ececec;
	height: 750px;
	text-align: center;
}

.footer {
	background: yellow;
	padding: 10px;
	text-align: center;
}
