/* Write your CSS here! */
body {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 75px;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-column: span 5;
}

.menu ul {
  display: grid;
  grid-template-columns: 200px 200px;
}

.logo {
  grid-column: span 2;
}

.sidebar {
  grid-column: span 2;
  display: grid;
  grid-template-rows: 100px;
}

.main {
  grid-column: span 3;
}

.footer {
  grid-column: span 5;
  display: grid;
  grid-template-rows: 40px;
}
/* Do not change the CSS below. */

.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
